.test-progress {
  margin-bottom: -5px;
  position: relative;
}

.progress.is-rose::-webkit-progress-value {
  background: #CD5C5C;
}

.progress.is-rose::-moz-progress-value {
  background: #CD5C5C;
}


/*options*/

.option {
  background-color: #eee;
  padding: 20px 20px 20px 50px;
  box-sizing: content-box;
  cursor: pointer;
}

.option.active {
  background-color: lightblue;
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.option input[type="radio"],
.option input[type="checkbox"] {
  display: none;
}


/*icon states*/

.option-audio.active .fa-circle-thin,
.option-audio  .fa-circle {
  display: none;
}

.option-audio.active .fa-circle,
.option-audio  .fa-circle-thin {
  display: block;
}

/*audio specific*/


.option.option-audio i.fa {
  margin-left: -33px;
  line-height: 30px;
  position: absolute;
  width: 20px;
  height: 20px;
  font-family: 'FontAwesome'
}

.option.option-audio audio {
  display: inline-block;
  height: 30px;
  float: right;
}

@media screen and (max-width: 700px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .single-option .option.option-audio {
    padding: 20px 10px 20px 60px;
  }

  .option.option-audio i.fa {
    margin-left: -40px;
  }
}

/*text specifc*/

.option.option-text {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.option.option-text p {
  line-height: 1.3em;
  width: 100%;
  text-align: center;
}

.option.option-text i.fa {
  display: none;
}


/*multiple option*/
.multiple-option .option input[type="checkbox"] {
  /*display: none;*/
}


/*tabular option*/

.align-center {
  display: flex;
  align-items: center;
}

.tabular-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

  .tabular-option {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    border-left: 1px solid white;
    height: auto;
    flex-grow: 1;
  }

  .tabular-option > span {
    /*-webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=30);*/
    display: block;
    font-size: 14px;
  }

  .tabular-option.active {
    background-color: lightblue;
  }

  .tabular-option-question {
    font-size: 16px;
    font-weight: normal;
  }

@media screen and (max-width: 550px) {
  .tabular-display {
    display: flex;
    flex-direction: column-reverse;
  }

  .tabular-display > .column {
    width: 100% !important;
  }
}

/*ruler specific*/

.option-ruler {
  padding: 12px 10px;
  border-right: 2px dashed white;
}

.option-ruler-text {
  font-size: 16px;
  border-left: 1px solid black;
  padding: 6px;
}

.option-ruler-text > div {
  display: flex;
  align-items: center;
}
.option-ruler-text > div > p {

}
